body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(46, 206, 235);
    color: whitesmoke;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 6px;
    border: 1px solid rgb(46, 206, 235);
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: rgb(26, 80, 255);
}

form {
    text-align: center;
}